<launch>

	<node 	name="basepose_to_mbed" 
			pkg="kumara_xprize" 
			type="kumara_base_to_mbed.py"
			respawn="false">
	</node>

	<node 	name="mbed_to_odom" 
			pkg="kumara_xprize" 
			type="kumara_mbed_to_odom.py"
			respawn="false">
	</node>
	
	<node 	name="mbed_to_headpose_node" 
			pkg="kumara_xprize" 
			type="kumara_head_to_mbed.py"
			respawn="false">
	</node>

</launch>
